<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.css" rel="stylesheet"/>

    <!-- MDB (If scripts don't work, add to the bottom of the page instead to see if it fixes the issue) -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.js"></script>

    <title>Home</title>
</head>
<body>
    <header>
        <!-- Intro settings -->
        <style>
            /* Default height for small devices */
            #intro-example {
                height: 400px;
            }
            /* Height for devices larger than 992px */
            @media (min-width: 992px) {
                #intro-example {
                    height: 600px;
                }
            }
        </style>
        <%- include('components/navigation'); %> 
        <!-- Background image -->
        <div id="intro-example" class="p-5 text-center bg-image" style="background-image: url('https://www.sunimprint.com/images/Maryland%20Terrapins%201997-Pres%20Alternate%20Logo%20diy%20iron%20on%20transfer%202.png');">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3">Welcome to MURJ</h1>
                        <h5 class="mb-4">Fully Operational Website Coming Soon</h5>

                        <a class="btn btn-outline-light btn-lg m-2"
                        href="/submission"
                        role="button"
                        rel="nofollow">Submit</a>

                        <a class="btn btn-outline-light btn-lg m-2"
                        href="/about"
                        role="button"
                        rel="nofollow">About</a>

                        <a class="btn btn-outline-light btn-lg m-2"
                        href="/archive"
                        role="button">Archive</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background image -->
    </header>

    <%- include('components/footer'); %>
</body>
</html>