<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.css" rel="stylesheet" />

  <!-- MDB (If scripts don't work, add to the bottom of the page instead to see if it fixes the issue) -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.js"></script>

  <title>Home</title>
</head>

<!-- Intro settings -->
<style>
  /* Default height for small devices */
  #intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }

  .card {
    margin-top: 15px;
    margin-bottom: 15px;
  }
</style>

<body>
    <%- include('components/navigation'); %>
  <header>
    <!-- Background image -->
    <div id="intro-example" class="p-5 text-center bg-image" style="background-image: url('https://image.jimcdn.com/app/cms/image/transf/none/path/s38786de65b082215/backgroundarea/iae9924e97149e358/version/1628095684/image.jpg'); height: 60vh;">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.4);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Maryland Undergraduate Research Journal</h1>
            <!-- <h5 class="mb-4">Fully Operational Website Coming Soon</h5> -->

            <a class="btn btn-outline-light btn-lg m-2" href="/about" role="button" rel="nofollow">About</a>

            <a class="btn btn-outline-light btn-lg m-2" href="/archive" role="button">Archive</a>

            <a class="btn btn-outline-light btn-lg m-2" href="/submission" role="button" rel="nofollow">Submit</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>

  <!-- Newsletter Cards -->
  <!-- Images must be 1.5:1 ratio (e.g. 780 x 520) -->
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://i.ibb.co/ns8z8BK/murj-call-for-submission.png" class="img-fluid" />
            <a href="/newsletterB">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">CALL FOR SUBMSSIONS</h5>
            <h6 style="font-style: italic;">08/29/2022</h6>
            <p class="card-text">We are excited to announce that the Maryland Undergraduate Research Journal is now...</p>
            <a href="/newsletterB" class="btn btn-outline-dark">View</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://i.ibb.co/Rj1ZH6W/murj-red-white.png" class="img-fluid" />
            <a href="/newsletterA">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">INTRODUCTION</h5>
            <h6 style="font-style: italic;">08/29/2022</h6>
            <p class="card-text">We are proud to announce the establishment of the Maryland Undergraduate Research Journal!</p>
            <a href="/newsletterA" class="btn btn-outline-dark">View</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <!-- <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Newsletter #3</h5>
            <h6 style="font-style: italic;">09/01/2022</h6>
            <p class="card-text">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
            <a href="#!" class="btn btn-outline-dark">View</a>
          </div>
        </div> -->
      </div>
      <div class="col-md">
        <!-- <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Newsletter #3</h5>
            <h6 style="font-style: italic;">09/01/2022</h6>
            <p class="card-text">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
            <a href="#!" class="btn btn-outline-dark">View</a>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <%- include('components/footer'); %>
</body>

</html>