<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.css" rel="stylesheet" />

  <!-- MDB (If scripts don't work, add to the bottom of the page instead to see if it fixes the issue) -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.js"></script>

  <title>Submit</title>
</head>
<style>
  /* Sidebar */
  .container {
    max-width: 100% !important;
  }
</style>

<body>
  <!-- Navbar -->
  <%- include('components/navigation'); %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%- include('components/submissionNavbar'); %>
      </div>
      <div class="col-md-9">
        <main style="margin-top: 58px;">
          <h3>Review Process</h3>
          <p>
            Any submissions to the Maryland Undergraduate Research Journal will undergo a
            double-blind
            peer review process. This process consists of an initial screening followed by a
            formal
            review. The initial screening will identify submissions that best align with the
            journal’s
            aims and scope; this step will be conducted by student reviewers. If successful,
            submissions
            will then be sent to a faculty reviewer, where they will undergo a formal review
            critically
            examining the content of the submission. 
            Authors should expect a decision within 6-8 weeks, although this will vary for each 
            submission. 
            Submissions that pass both the initial
            screening
            and the formal review will be published without the need for further action.
            Submissions
            with minor errors may need to undergo revision before publication. Unsuccessful
            submissions
            are encouraged to revise and resubmit.
          </p>
          
      </div>
      </main>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <%- include('components/footer'); %>
</body>

</html>